<title>
    <%= title %> - ejs-static-converter
</title>

<!-- Global Tab Settings -->
<link rel="shortcut icon" type="image/png" href="../icons/32x32.png" />
<link rel="apple-touch-icon" href="../icons/256x256.png" />

<!-- Global Meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Sky Enterprises" />

<link rel="stylesheet" href="../style.css" />
</head>

<body>

    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand">ejs-static-converter - <%= title %></span>
            <ul class="navbar-menu">
                <li><a href="/">Home</a></li>
                <li><a href="../page-2">Page 2</a></li>
                <li><a href="../page-3">Page 3</a></li>
            </ul>
        </div>
    </nav>