<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Meta tags -->
    <meta name="description" content="Converts an express EJS app into a static HTML website.">
    <meta name="keywords" content="sky enterprises, ejs-static-converter, static site generator, ejs, node, static html">

    <!-- Include the header HTML which contains universal tags, references, and other metadata. -->
    <%- include("components/index-header.ejs") -%>
</head>

<body>

<div class="container">
    <div class="index-main">
        <h1>Welcome to ejs-static-converter!</h1>
        <p>This is the demo page for ejs-static-converter. It's a tool to convert Express EJS apps into static HTML websites.</p>
        <a href="./page-2" class="btn btn-primary">Go to Page 2</a>
        <a href="./page-3" class="btn btn-primary">Go to Page 3</a>
    </div>
</div>

</body>
</html>
