
    <!-- Global Tab Settings -->
    <link rel="shortcut icon" type="image/png" href="./icons/32x32.png" />
    <link rel="apple-touch-icon" href="./icons/256x256.png" />

    <!-- Global Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sky Enterprises" />

    <link rel="stylesheet" href="./style.css" />
    </head>

    <body>

    <nav class="navbar">
        <span>ejs-static-converter Navbar</span>
    </nav>
