<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Tab Settings -->
        <title>ejs-static-converter</title>

        <!-- Local Meta Tags -->
		<meta name="description" content="Converts an express EJS app into a static HTML website.">
		<meta name="keywords" content="sky enterprises, ejs-static-converter, static site generator, ejs, node, static html">

        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("indexHeader.ejs") -%>
    </head>

    <body>

        <div class="index-main">
            <h1>ejs-static-converter - Home</h1>
            <hr>
            <p>This is the home page of the ejs-static-converter demo.</p>
            <a href="./page-2">Page 2</a>
            <a href="./page-3">Page 3</a>
        </div>
    </body>
</html>
