<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Tab Settings -->
        <title>Page 2 - ejs-static-converter</title>

        <!-- Local Meta Tags -->
		<meta name="description" content="Converts an express EJS app into a static HTML website.">
		<meta name="keywords" content="sky enterprises, ejs-static-converter, static site generator, ejs, node, static html">

        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") -%>
    </head>

    <body>

        <div class="index-main">
            <h1>ejs-static-converter - Page 2 </h1>
            <hr>
            <p>This is page 2 of the ejs-static-converter demo.</p>
            <a href="../">Home</a>
        </div>
    </body>
</html>
